.register-container {
  width: 100%;
  max-width: 1100px;
  background: #ffffff;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1);
  border-radius: 20px;
  border-top: #f2bc18 4px solid;
  border-bottom: #f2bc18 4px solid;
  overflow: hidden;
  padding: 2rem;
}

.register-buttom {
  background-color: #207a3e;
  border: none;
  border-radius: 10px;
  font-size: 1rem;
  font-weight: 600;
  padding: 0.9rem;
  width: 100%;
  transition: all 0.3s ease;
}
.register-button:hover {
  background-color: #207a3e;
  transform: translateY(-2px);
}

@media (max-width: 900px) {
  .register-container {
    padding: 0;
  }
}
