.register-container {
  width: 100%;
  max-width: 1100px;
  background: #ffffff;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1);
  border-radius: 20px;
  border-top: #ffd75f 4px solid;
  border-bottom: #ffd75f 4px solid;
  overflow: hidden;
}
