#root{
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

main{
  flex-grow: 1;
}
/* color del nav */
.colorNav {
  background: #104510;
  background: linear-gradient(
    90deg,
    rgb(1, 66, 4) 10%,
    rgb(1, 106, 3) 100%
  );
}
.color-logo-nav {
  color: rgb(0, 0, 0) !important;
}
.fuenteLogo {
  font-family: "Permanent Marker", serif;
}